
<!-- Contact Start -->

<section id="{{ include.section_page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 offset-md-1">

      {{ include.section_page.content | markdownify }}

      {% if site.collaboration-statement %}
        <p class="contact-collaboration">{{ site.collaboration-statement }}</p>
      {% endif %}

      {% assign contact_emails = site.emails | default: site.email %}
      {% if contact_emails %}
        {% unless contact_emails.first %}
          {% assign contact_emails = contact_emails | split: "|" %}
        {% endunless %}
        <p class="contact-emails">
          <script>
            function join_at_email(user, domain){
              return (user && domain)?(user + "@" + domain):"";
            }
            var contactEmails = [
              {% for email in contact_emails %}
                {% assign newemail = email | split: '@' %}
                {
                  user: "{{ newemail[0] }}",
                  domain: "{{ newemail[1] }}"
                }{% unless forloop.last %},{% endunless %}
              {% endfor %}
            ];
            document.write(contactEmails.map(function(emailParts) {
              var email = join_at_email(emailParts.user, emailParts.domain);
              return '<a href="mailto:' + email + '">' + email + '</a>';
            }).join(' · '));
          </script>
        </p>
      {% endif %}

      {% if site.pgp %}
        <a href="{{ site.pgp }}" target="_blank">PGP Key</a>
        <p/>
      {% endif %}

    </div>
  </div>
</section>

<!-- Contact End -->
