
<!-- Navigation Start -->

<nav class="navbar navbar-expand-md navbar-custom fixed-top{% unless page.section-type == "index" %} navbar-standalone{% endunless %}" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {% if page.section-type == "index" %}
        <a class="navbar-brand page-scroll" href="#page-top">
      {% else %}
        <a class="navbar-brand" href="{{site.baseurl}}/">
      {% endif %}
          <div>
            {% if site.black-favicon %}
              <img src="{{site.baseurl}}{{ site.black-favicon }}" alt="">
            {% endif %}
	    {% if site.logo %}
	    {% endif %}
              {{ site.title }}
          </div>
        </a>
    </div>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#site-navbar" aria-controls="site-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="site-navbar" class="collapse navbar-collapse justify-content-end navbar-main-collapse">
      <ul class="navbar-nav">
        {% for item in site.navigation %}
          <li class="nav-item">
            {% if item.type == "section" %}
              {% if page.section-type == "index" %}
                <a class="nav-link page-scroll" href="#{{ item.target }}"> {{ item.label }} </a>
              {% else %}
                <a class="nav-link" href="{{ site.baseurl }}/#{{ item.target }}"> {{ item.label }} </a>
              {% endif %}
            {% elsif item.type == "page" %}
              <a class="nav-link" href="{{ site.baseurl }}{{ item.url }}"> {{ item.label }} </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<!-- Navigation End -->
