
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" >

    {% include navigation.html %}

    {% include header.html %}

    <main>
      {% for section_type in site.homepage_sections %}
        {% for section_page in site.pages %}
          {% if section_page.section-type == section_type %}
            {% include {{ section_page.path }} section_page=section_page %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </main>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
