
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    {% include navigation.html %}

    {% include header.html %}

    {% for section_type in site.homepage_sections %}
      {% for section_page in site.pages %}
        {% if section_page.section-type == section_type %}
          {% include {{ section_page.path }} section_page=section_page %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
